$dark-gray: #1D1D1D;
$white: #D8FDF7;
$red: #CA3140;
$p-shadow: #75F9D9;

@font-face {
    font-family: Arame;
    src: url(./fonts/Arame.ttf);
}

@font-face {
    font-family: "CircularStd";
    src: url(./fonts/CircularStd.ttf);
}

@font-face {
    font-family: "CircularStd-Book";
    src: url(./fonts/CircularStd-Book.otf);
}


@font-face {
    font-family: "Calibre-Regular";
    src: url(./fonts/Calibre-Regular.ad23bcd8.ttf);
}
@font-face {
    font-family: "Calibre-Medium";
    src: url(./fonts/Calibre-Medium.cb484263.ttf);
}
@font-face {
    font-family: "Calibre-SemiBold";
    src: url(./fonts/Calibre-SemiBold.2c27f793.ttf);
}

@import "./rotating-text-style";

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


html {
    width: 100vw;
    background-color: black;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    padding: 0;
    margin: 0;
    width: 100vw;
    cursor: none;
}

main {
    height: 100vh;
    width: 100vw;
}

.cursor {
    width: 1.3rem;
    height: 1.3rem;
    border: 2.5px solid $white;
    border-radius: 50%;
    position: absolute;
    top: -10rem;
    left: -10rem;
    pointer-events: none;
    transform: translate(-50%, -50%);
    transform-origin: 100% 100%;
    transition: all .3s ease;
    transition-property: background, transform;

    @media only screen and (max-width: 62.5em) { // tab-land
        opacity: 0;
    }
}

.header {
    /* font-family: "Myriad Pro", Myriad, Arial, sans-serif; */
    font-family: 'Open Sans', sans-serif;
    /* font-family: Helvetica; */
	color: $white;
	text-align: center;
    margin: 0;
    position: absolute;
    width: 100vw;
    left: 0;
    top: 0;
    height: 100%;
    background-color: black;
    padding: 0;


    .nav {

        position: relative;
        width: 100vw;

        .nav__list {
            width: 30vw;
            color: $white;
            list-style-type: none;
            overflow: auto;
            float: right;
            font-size: large;
            margin-top: 1em;
            margin-right: 3em;
            height: 2em;
            display: table;
            
            .nav__list__item {              
                vertical-align: middle;
                display: table-cell;
            }
            
            .nav__list__item a {
                text-decoration: none;
                color: $white;
                width: fit-content;
                font-family: monospace;
            }

            .nav__list__item--socials {
                color: $white;
                // fill: $white;
                
                .nav__list__item--socials__img {
                    height: 1.4em;
                    width: 1.4em;
                }
                
            }
            
        }
    }
    

    .header__content {
        margin: 0;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);

        text-align: center;
        font-size: 2.2vw;
        font-family: Arame;
        line-height: 2.5rem;

        .icons img {
            height: 1.6rem;
            margin-left: 0.8rem;
            margin-right: 0.8rem;
            margin-bottom: 0.6rem;
        }
        .icon2 {
            transform: rotate(180deg);
        }
        .icon3 {
            transform: rotate(45deg);
        }
        .icon4 {
            transform: rotate(90deg);
        }
        
        .header__content div {
            position: absolute;
            font-family: Arame;
        }
    }

    .verticalLineTop {
        border-left: 1px solid white;
        height: 5%;
        position: absolute;
        left: 50%;
        margin-left: -3px;
        top: 0;
    }

    .verticalLineBottom {
        border-left: 1px solid white;
        height: 5%;
        position: absolute;
        left: 50%;
        margin-left: -3px;
        bottom: 0;
      }
}


#particles-js {
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: black;
}