@font-face {
  font-family: InputMonoLight;
  src: url(./fonts/InputMonoLight.ttf);
}

@font-face {
  font-family: MonumentExtended;
  src: url(./fonts/MonumentExtendedBold.ttf);
}

@font-face {
  font-family: Arame;
  src: url(./fonts/Arame.ttf);
}

@font-face {
  font-family: "CircularStd";
  src: url(./fonts/CircularStd.ttf);
}

@font-face {
  font-family: "CircularStd-Book";
  src: url(./fonts/CircularStd-Book.otf);
}

@font-face {
  font-family: "Calibre-Regular";
  src: url(./fonts/Calibre-Regular.ad23bcd8.ttf);
}

@font-face {
  font-family: "Calibre-Medium";
  src: url(./fonts/Calibre-Medium.cb484263.ttf);
}

@font-face {
  font-family: "Calibre-SemiBold";
  src: url(./fonts/Calibre-SemiBold.2c27f793.ttf);
}

* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

html {
  width: 100vw;
  background-color: black;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  padding: 0;
  margin: 0;
  width: 100vw;
  cursor: none;
}

main {
  height: 100vh;
  width: 100vw;
}

main > div {
  display: block;
}

.cursor {
  width: 1.3rem;
  height: 1.3rem;
  border: 2.5px solid #D8FDF7;
  border-radius: 50%;
  position: fixed;
  -webkit-transform: translateX(-10rem);
          transform: translateX(-10rem);
  -webkit-transform: translateY(-10rem);
          transform: translateY(-10rem);
  pointer-events: none;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  -webkit-transform-origin: 100% 100%;
          transform-origin: 100% 100%;
  -webkit-transition: -webkit-transform .35s ease-out;
  transition: -webkit-transform .35s ease-out;
  transition: transform .35s ease-out;
  transition: transform .35s ease-out, -webkit-transform .35s ease-out;
  -webkit-transition-property: background, -webkit-transform;
  transition-property: background, -webkit-transform;
  transition-property: background, transform;
  transition-property: background, transform, -webkit-transform;
  -webkit-transition: width 0.5s, height 0.5s, background 0.5s, border-width 0.5s;
  transition: width 0.5s, height 0.5s, background 0.5s, border-width 0.5s;
  mix-blend-mode: difference;
}

@media only screen and (max-width: 62.5em) {
  .cursor {
    opacity: 0;
  }
}

.link {
  cursor: none;
}

.cursorHoverText {
  width: 6rem;
  height: 6rem;
  background: #fff;
  mix-blend-mode: difference;
  -webkit-transition: width 0.5s, height 0.5s, background 0.5s;
  transition: width 0.5s, height 0.5s, background 0.5s;
}

.linkHover {
  background: #fff;
  mix-blend-mode: difference;
  -webkit-transition: width 0.5s, height 0.5s, background 0.5s;
  transition: width 0.5s, height 0.5s, background 0.5s;
}

.header {
  /* font-family: "Myriad Pro", Myriad, Arial, sans-serif; */
  font-family: 'Open Sans', sans-serif;
  /* font-family: Helvetica; */
  color: #D8FDF7;
  text-align: center;
  margin: 0;
  width: 100vw;
  left: 0;
  top: 0;
  height: 100%;
  padding: 0;
}

.header #particles-js {
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: black;
  z-index: -2;
}

.header .staticNoise::after {
  content: '';
  background-image: url(https://cliply.co/wp-content/uploads/2021/07/402107790_STATIC_NOISE_400.gif);
  position: fixed;
  width: 100vw;
  height: 100vh;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  z-index: -1;
  opacity: 0.05;
  will-change: auto;
  -webkit-transform: translate3d(0, 0, 0);
          transform: translate3d(0, 0, 0);
  pointer-events: none;
}

.header .nav {
  position: relative;
  width: 100vw;
}

.header .nav .nav__list {
  width: 23vw;
  color: #D8FDF7;
  list-style-type: none;
  overflow: auto;
  float: right;
  font-size: medium;
  margin-top: 1em;
  margin-right: 3em;
  height: 2em;
  display: table;
}

.header .nav .nav__list .nav__list__item {
  vertical-align: middle;
  display: table-cell;
}

.header .nav .nav__list .nav__list__item a {
  text-decoration: none;
  color: #D8FDF7;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  font-family: InputMonoLight;
}

.header .nav .nav__list .nav__list__item--socials {
  color: #D8FDF7;
}

.header .nav .nav__list .nav__list__item--socials .nav__list__item--socials__img {
  height: 1.4em;
  width: 1.4em;
}

.header .header__content {
  margin: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  text-align: center;
  font-size: 40px;
  font-family: Arame;
  line-height: 2.4rem;
}

.header .header__content .icons img {
  height: 1.6rem;
  margin-left: 0.8rem;
  margin-right: 0.8rem;
  margin-bottom: 1.4vh;
}

.header .header__content .icon2 {
  -webkit-transform: rotate(180deg);
          transform: rotate(180deg);
}

.header .header__content .icon3 {
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
}

.header .header__content .icon4 {
  -webkit-transform: rotate(90deg);
          transform: rotate(90deg);
}

.header .header__content .header__content div {
  position: absolute;
  font-family: Arame;
}

.header .verticalLineTop {
  border-left: 1px solid white;
  height: 5%;
  position: absolute;
  left: 50%;
  margin-left: -3px;
  top: 0;
}

.header .verticalLineBottom {
  border-left: 1px solid white;
  height: 5%;
  position: absolute;
  left: 50%;
  margin-left: -3px;
  bottom: 0;
}

.sectionTitle {
  margin-top: 4vh;
  margin-bottom: 4vh;
  font-size: 3VW;
  font-family: MonumentExtended;
  overflow: hidden;
  white-space: nowrap;
  line-height: 3.3rem;
}

.sectionTitle .line1 span:nth-child(even) {
  color: white;
}

.sectionTitle .line1 span:nth-child(odd) {
  color: black;
  -webkit-text-stroke-width: 1px;
  -webkit-text-stroke-color: white;
}

.sectionTitle .line2 span:nth-child(odd) {
  color: white;
}

.sectionTitle .line2 span:nth-child(even) {
  color: black;
  -webkit-text-stroke-width: 1px;
  -webkit-text-stroke-color: white;
}

.about {
  color: #fff;
  height: 110vh;
  width: 100vw;
}

.about .aboutContent {
  position: relative;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  width: 65%;
  font-family: InputMonoLight;
  font-size: 100%;
  line-height: 2vw;
  font-weight: 100;
}

.about .aboutContent .aboutContentLeftSide, .about .aboutContent .aboutText {
  display: inline-block;
  vertical-align: middle;
}

.about .aboutContent .aboutContentLeftSide {
  width: 25%;
}

.about .aboutContent .aboutContentLeftSide .memojiContainer {
  width: 100%;
  z-index: 200;
  border-radius: 20px;
  background-color: white;
  -webkit-box-shadow: black -1vw -1vw 0px -0.1vw, white -1vw -1vw;
          box-shadow: black -1vw -1vw 0px -0.1vw, white -1vw -1vw;
}

.about .aboutContent .aboutContentLeftSide .memojiContainer .memoji {
  padding: 20% 10% 20% 10%;
  width: 100%;
  height: auto;
  position: relative;
}

.about .aboutContent .aboutContentLeftSide .squigglyLineContainer {
  margin-top: 5%;
  width: 100%;
  overflow: hidden;
}

.about .aboutContent .aboutContentLeftSide .squigglyLine {
  width: 200%;
}

.about .aboutContent .aboutText {
  margin-left: 2%;
  width: 65%;
}

.about .aboutContent .aboutText div {
  display: inline-block;
  width: 30%;
}

.about .aboutContent .aboutText div span {
  display: block;
}

.experience {
  height: 100vh;
}

.experience .experienceContent {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 48.5vw 48.5vw;
      grid-template-columns: 48.5vw 48.5vw;
  gap: 1vw 1vw;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.experience .experienceContent .experienceCard:hover {
  background-color: #303030;
}

.experience .experienceContent .experienceCard {
  border-radius: 7px;
  background-color: #1A1A1A;
  padding: 0.5vw;
  font-family: InputMonoLight;
  font-size: 80%;
  letter-spacing: 0.1rem;
  -webkit-transition-duration: 0.5s;
          transition-duration: 0.5s;
}

.experience .experienceContent .experienceCard img {
  width: 100%;
  height: auto;
  border-radius: 7px;
}

.experience .experienceContent .experienceCard .cardText > * {
  display: block;
  margin: 0.7% 0 0.7% 0;
}

.experience .experienceContent .experienceCard .cardText {
  margin: 1%;
}

.experience .experienceContent .experienceCard .cardText .cardTitle {
  color: white;
}

.experience .experienceContent .experienceCard .cardText .cardInfo {
  color: #71717A;
}

.experience .experienceContent .experienceCard .cardText .cardSkills {
  margin-top: 1.3%;
}

.experience .experienceContent .experienceCard .cardText .cardSkills span {
  color: #71717A;
  background-color: #282828;
  padding: 0.5% 1.5% 0.5% 1.5%;
  border-radius: 7px;
  margin-right: 1%;
}
/*# sourceMappingURL=style.css.map */